/* @import-normalize; bring in normalize.css styles */

body {
  margin: 0;
/* background-color: black;
  font-family: 'Roboto', sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Roboto';
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

